<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Big Idea || bigidea.io</title>
  <!-- Custom style -->
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <div class="header-container shadow">
    <div class="header-inner">
      <div class="title">
        <div class="title-logo">
          <span class="logo">BigIdea</span>
        </div>
      </div>

      <div class="show-bar">III</div>
      
      <div class="side-menu box-menu">
        <div class="menu-link">
          <a href="./index.html" class="active-m">Home</a>
        </div>

        <div class="menu-link">
          <a href="../features/write-up.html">Write-up</a>
        </div>

        <div class="menu-link">
          <a href="../features/projects.html">Projects</a>
        </div>

        <div class="menu-link">
          <a href="../features/ideas.html">Ideas</a>
        </div>

        <div class="menu-link">
          <a href="../features/community.html">Community</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>