:root {
  --light-blue: #7d5cd8;
  --main-color: #222;
  --white-color: #fff;
  --bg-color: #c0c0c0;
  /* --shadow-color: ; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: sans-serif;
}

.header-container {
  z-index: 0;
  width: 100%;
  /* max-width: 1321px; */
  min-width: 700px;
  color: var(--main-color);
  border: 1px solid var(--light-blue);
}
 .header-inner {
   height: 45px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  }
 .shadow {
   padding: 2em 0;
   border-bottom: 3px solid var(--light-blue);
   box-shadow: 0 -20px 0 0 var(--light-blue);
 }
 
/* Logo */

.logo {
  font-size: 3rem;
  text-decoration: underline;
  color: var(--light-blue);
}

.side-menu {
  z-index: 1;
  display: flex;
  flex-direction: row;
  padding: 1em;
  /* padding-right: 3em; */
}

.menu-link {
  margin: .2em;
}
 .menu-link a {
   color: var(--main-color);
   text-decoration: none;
   font-size: .9rem;
   padding: 1em;
 }

 .menu-link a:hover {
  background-color: #7d5cd8;
  color: var(--white-color);  
 }
 .active-m {
  background-color: #7d5cd8;
  color: var(--white-color);
 }
 .show-bar {
   display: none;
   font-size: 3rem;
   color: var(--light-blue);
 }

 /* Responsive Header */

 @media only screen and (max-width: 638px) {
  .header-container {
    max-width: 100%;
    min-width: 100%;
  }

  .header-inner {
    justify-content: space-between;
    margin: 0 3em;
  }
  .menu-link {
    margin: .6em 0;
    text-align: left;
  }
   .menu-link a {
     text-decoration: none;
     font-size: .9rem;
     padding: .6em 2em;
     font-size: 1.2rem;
   }
  
   .menu-link a:hover {
    background-color: var(--white-color);
    background-size: cover;
    color: var(--light-blue);
   }

  .side-menu {
    display: none;
    position: absolute;
    top: 114px;
    left: 300px;
    flex-direction: column;
    background: var(--light-blue);
    min-width: 200px;
    height: 300px;
    z-index: 2;
    padding: 1em 0 1em;
    /* padding-right: 0; */
  }
  .show-bar {
    display: block;
  }
   .show-bar:active,
   .show-bar:focus .show-bar{
     display: block;
   }

  }

/* Main Section */

.main-section-container {
  background-color: #222;
  background-size: cover;
  width: 100%;
  height: 50px;
}

.big-name {
  font-size: 2em;
  color: var(--light-blue);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 0 var(--light-blue);
}
 .big-name:hover {
   color: var(--white-color);
   text-shadow: 5px 0 var(--light-blue);
 }

.about-me {
  background-color: rgb(230, 228, 228);
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

  .abt {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: .5em;
    color: var(--main-color);
    text-shadow: 2px 1px#7d5cd8;
    text-align: center;
  }
  .about-me p {
    color: var(--light-blue);
    margin: 0 6em;
    font-size: 1.4rem;
    line-height: 2em;
  }

  .read-more {
    text-decoration: none;
    color: var(--main-color);
    background-color: transparent;
    padding: 1em .6em;
    color: var(--main-color);
    text-transform: uppercase;
    border: solid 2px var(--light-blue);
    font-size: .9rem;
  }
   .read-more:hover,
   .read-more:active,
   .read-more:focus {
     background-color: var(--light-blue);
     color: var(--white-color);
     text-decoration: underline;  
  }
  /* Responsive section */
  @media only screen and (max-width: 1000px) {
    .about-me {
      height: 100%;
    }
    
    .about-me p {
      color: var(--light-blue);
      font-size: 1rem;
      margin-bottom: 1.7em;
    }

    .about-me {
      padding-bottom: 1.7em;
    }
  }
/* Footer */
.footer-container {
  background-color: var(--main-color);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-blue);
  padding-top: 1em;
}
 .copyr {
   font-weight: 600;
   color: red;
 }